{
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "build:release": "vite build --mode release",
    "test": "vitest run",
    "lint": "eslint ."
  },
  "devDependencies": {
    "rollup-plugin-obfuscator": "^1.1.0",
    "javascript-obfuscator": "^4.1.1"
  }
}
